@font-face {
    font-family: 'Partial Sans KR';
    src: url('PartialSansKR-Regular.woff2') format('woff2'),
        url('PartialSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

